html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #282c34
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}
#root {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
}